.cartIcon{
    color: var(--petroleo)
}

.cartIcon:hover{
color: var(--verdeOscuro);
}
    

.cartCircle{
    color: white;
    background-color: var(--verdeClaro
    );
    width: 23px;
    height: 23px;
    border-radius: 50%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    


}