.a-card{
    text-decoration: none;
    margin: 5px;
    width: 250px;
    height: 340px;
    
}


.container-img-item-crop {
    width: 250px;
    height: 300px;
    overflow: hidden;
    position: relative;
   
}
.container-img-item-crop > .crop {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    
    
}