.countContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    background-color: var(--verdeAgua);
}

.countButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-color: var(--petroleo);
}

.button {
    background-color: var(--verdeClaro);
}
.button:hover{
    background-color: var(--verdeAgua);

}

.value {
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}