.marca {
    border-radius: 50%;
    width: 60%;
}
.contenedor-marca{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    color: rgb(22, 192, 59);
}
h2{
    text-align: center;
    color: rgb(22, 192, 59);
}
.ul-navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.li-navBar{
    margin: 10px;
}