.spinner{
    position: absolute;
    color: rgb(14, 114, 19);
    width: 80px;
    height: 80px;
    margin-top: 10px;
    transform: rotate(90deg);
    margin-left: 63px;
    
}
.spinnerDos{
    position: relative;
    color: rgb(25, 226, 35);
    width: 100px;
    height: 100px;
   
}
.spinnerContainer{
    display: flex;
    justify-content: center;
}