.spinner{
    position: absolute;
    color: var(--verdeClaro);
    width: 80px;
    height: 80px;
    margin-top: 10px;
    transform: rotate(90deg);
    margin-right: 60px;
    
}
.spinnerDos{
    position: relative;
    color: var(--verdeOscuro);
    width: 100px;
    height: 100px;
    z-index: -1;
   
}
.spinnerTres{
    position: relative;
    color: var(--verdeAgua);
    width: 60px;
    height: 60px;
    margin-right: 80px;
    z-index: 4;
   
}
.spinnerContainer{
    display: flex;
    justify-content: center;
}