.form{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: var(--verdeAgua);
    margin: auto;
    padding-top: 30px;

}
.form-button{
    width: 100px;
}
.form-input{
    width: 90%;
}