.count-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--verdeAgua);
}

.count-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-color: var(--petroleo);
}

.button {
    background-color: var(--verdeClaro);
    border-radius: 8px;
    border-color: var(--petroleo);
}
.button:hover{
    background-color: var(--verdeOscuro);
    color: white;
   

}

.value {
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}